*{font:0.95em Helvetica,Verdana,Arial,sans-serif;color:#555;}
html,body{margin:15px 0;padding:0;}
body{background-color:#efefef;text-align:center;}
#container{width:1075px;margin:0 auto;text-align:left;}
#content{float:left;width:1075px;margin-right:15px;}
#content-head{border-bottom:solid 0.2em #000;height:3.3em;margin-bottom:0em;}
#content-headleft{float:left;;width:75%;}
#content-headleft h1{color:#000;font-size:2.4em;font-weight:bold;letter-spacing:0.1em;font-family:georgia,serif;margin-top:0.2em;margin-left:0em;margin-bottom:0em;}
#content-headright{float:left;text-align:right;width:25%; }
#content-left{float:left;width:1070px;padding:5px;background-color:#efefef;border-bottom:solid 1px #131313;}

#content-right{float:left;width:1070px;font-size:1em;background-color:#efefef;border:0;}
#content-righttop{float:left;width:100%;height:20px;padding-top:5px;padding-left:5px;background-color:#e3e3e6;border:0;border-bottom:10px solid #FFF;}
#contextpop{text-align:left;}
.section{margin-bottom:10px;padding-bottom:10px;border-bottom:5px dashed #e3e3e6;}
p{clear:both;text-align:justify;}
.indent{padding-left:15px;}
#content-left h3{color:#131313;font-size:1.2em;font-weight:bold;margin-top:6px;margin-bottom:6px;letter-spacing:1px;font-family:georgia,serif;}
#content-left h4{color:#131313;font-size:1.1em;font-weight:normal;margin-top:-5px;padding-left:20px;margin-bottom:6px;}
.section h2{color:#131313;font-size:1.5em;font-weight:bold;margin-top:20px;margin-bottom:0;letter-spacing:1px;font-family:georgia,serif;}
.section h3{color:#131313;font-size:1.25em;font-weight:bold;margin-top:20px;margin-bottom:0;letter-spacing:1px;font-family:georgia,serif;}
.section h4{color:#131313;font-size:1em;font-weight:normal;margin-top:0;padding-left:20px;margin-bottom:6px;}
.section b{font-weight:bold;}
.emph{font-weight:bold;text-decoration:underline;}
.underline{text-decoration:underline;}
.bold{font-weight:bold;}.italic{font-style:italic;}
.genomebuild{display:block;text-align:center;font-style:italic;}
.section img.frame_left{border:1px solid #888;padding:2px;margin-right:7px;margin-top:4px;float:left;}
.section img.frame_right{border:1px solid #888;padding:2px;margin-left:7px;margin-top:4px;float:right;}
.scrollbarbox{width:;height:100px;z-index:1;border:1px solid #000;background-color:#FFF;left:400px;top:100px;visibility:visible;display:block;overflow:auto;}

th {
	font-weight: bold ;
	font-size:1.1em;
	border-right: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 0;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 0.5em;
	background:#efefef;
}
th.topsmall {
	font-weight: bold ;
	font-style: italic;
	font-size:1em;
	border-right: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 0;
	text-transform: capitalize;
	text-align: left;
	padding: 1px 1px 1px 0.5em;
	background:#efefef;
}

td {
	font-size:1.1em;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:0;
	text-align:left;
	padding: 3px 3px 3px 1em; 
	background:#efefef;
}
td.last {
	border-top:1px solid black;
}	
#content-left a:link{color:#555;background-color:#efefef;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#content-left a:visited{color:#555;background-color:#efefef;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#content-left a:hover{color:#555;background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#content-left a:active{color:#555;background-color:#efefef;font-weight:bold;text-decoration:none;letter-spacing:1px;}
#content-right a:link{color:#1E3A6B;background-color:#efefef;text-decoration:none;}
#content-right a:visited{color:#1E3A6B;background-color:#efefef;text-decoration:none;}
#content-right a:hover{color:#FFF;background-color:#1E3A6B;text-decoration:none;}
#content-right a:active{color:#1E3A6B;background-color:#efefef;text-decoration:none;}
a.tt:link{color:#1E3A6B;background-color:#FFF;text-decoration:none;}
a.tt:visited{color:#1E3A6B;background-color:#FFF;text-decoration:none;}a.tt:hover{color:#FFF;background-color:#1E3A6B;text-decoration:none;}
a.tt:active{color:#1E3A6B;background-color:#FFF;text-decoration:none;}
a.tt.foto{background-color:#FFF;text-decoration:none;}
a.ttsmall:link{color:#1E3A6B;background-color:#FFF;text-decoration:none;font-size:8px;font-style:italic;}
a.ttsmall:visited{color:#1E3A6B;background-color:#FFF;text-decoration:none;font-size:8px;font-style:italic;}
a.ttsmall:hover{color:#FFF;background-color:red;text-decoration:none;font-size:8px;font-style:italic;}
a.tt:active{color:#1E3A6B;background-color:#FFF;text-decoration:none;}
a img{border-width:0;}
a.alt{background-color:#F7F5F5;color:#797268;text-decoration:none;}


ul{list-style-type:none;margin:0;padding:0;}
ul.disc{list-style-type:disc;margin-left:1em;padding-left:2em;}
#ul-simple li{padding-left:5px;}
ul#topmenu { margin:0; margin-top:1em; padding:0; z-index:30;list-style:none; font:normal 1em verdana, arial, helvetica;color:#000000;}
ul#topmenu li{margin:0; padding:0;  float:left; position:relative; color:#000000;}
ul#topmenu li a{margin:0;padding:0;background-color:#efefef;font-weight:bold;text-decoration:none;letter-spacing:1px;color:#000000;}
ul#topmenu li a:hover {background-color:#FFF;font-weight:bold;text-decoration:none;letter-spacing:1px;color:#000000;}
#topmenu div.submenu{position:absolute;left:4px;top:19px;visibility:hidden;margin:0px;padding:0px 0px 0px 0px;background:#b0b0b0;border:1px solid;color:#131313;}
#topmenu div.submenu a{position:relative;display:block;margin:0;margin-left:8px;padding-left:3px;padding-top:0px;padding-bottom:0px;text-align:left;text-decoration:none;background:#b0b0b0;color:#000000;width:auto;white-space:nowrap;border-left:1px solid #000000;font-size:1em;}
#topmenu div.submenu h3{color:#000000;font-size:1.2em;margin-left:2px;margin-top:0px;margin-bottom:0px;letter-spacing:1px;font-family:georgia,serif;border-bottom:1px solid #000000;font-style:italic;width:auto;white-space:nowrap;}
#topmenu div a:hover{background-color:#FFF;color:#000}
#ul-submenu{border-left:solid 1px #555;margin-left:8px;}
#ul-submenu li{padding-left:3px;padding-bottom:3px;padding-top:3px;background:none;}


#CreatedSpan {font-style:italic;float:right;}
#CreatedBy a#CreatedBy {font-style:italic;margin:0;padding:0;background-color:#efefef;font-weight:normal;text-decoration:none;}
a#CreatedBy:visited {font-style:italic;margin:0;padding:0;background-color:#efefef;font-weight:normal;text-decoration:none;}
a#CreatedBy:active {font-style:italic;margin:0;padding:0;background-color:#efefef;font-weight:normal;text-decoration:none;}
a#CreatedBy:hover {font-style:italic;margin:0;padding:0;background-color:#efefef;font-weight:normal;text-decoration:none;}


#ul-mine li{padding-left:20px;padding-bottom:5px;background:url(../images/bullets/arrow.png) no-repeat;}#ul-attach li{padding-left:20px;padding-bottom:5px;background:url(../images/bullets/attach.png) no-repeat;}

input{background-color:white;border:1px solid #999;}
textarea{background-color:white;border:1px solid #999; margin-left:2em;}
input[type=checkbox]{border:none;}
.button{background-color:#e3e3e6;border:1px solid #999;}
.section textarea{margin-bottom:10px;overflow:auto;}
input.check{width:auto;margin-bottom:0;}
.span-cmg{float:right;}
.tooltip{background-color:#F05;}
caption{padding:0 0 5px 0;width:700px;font:italic 1em "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;text-align:right;}
input.required{display:none;}
.turned {
  background-color:#eee;
  float:right;
  position:relative;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.example-date .year {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  display:block;
  position:absolute;
  right:-5px;
  top:15px;
}
.block{
	margin-left:1em;
	margin-top:1em;
	background-color:#D9D0C2;
	font-size:1.1em;
	border:0.2em solid #806133;
	padding:0.3em;
	width:60%;
	word-wrap:break-word;
}
.code{
	width:2.6em;
	font-weight:bold;
	border:0.2em solid #806133;
	margin-bottom:0.3em;	
	margin-top:-1.1em;
	margin-left:5px;
	background:#D9D0C2;
}
.w20 {width:20%}
.w80 {width:79%;}
.toleft{float:left}
.toright{float:right}
.todo {color:black;border:1px solid red}
.formula {font-style:italic;text-align:center}
sub {font-style:italic}
sup {font-style:italic}

#mapoverlay {
	z-index: 9500;
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#fff; vertical-align:middle;
	overflow:hidden;
}
#overlay {
	z-index: 9500;
	filter: alpha(opacity=85); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=85); /* IE */
	-moz-opacity: 0.85; /*older Mozilla*/
	-khtml-opacity: 0.85;   /*older Safari*/
	opacity: 0.85;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	padding-top:4em;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#fff; vertical-align:middle;
}

#plot_area {
	position: absolute;
    	top: 0px;
   	bottom: 0px;
    	left: 0px;
    	right: 0px; /* exact value is given through JavaScript */
	
	/*border:0.2em dashed #aaa; */
	margin-left:2%;
	margin-right:2%;
	margin-top:1%;
	margin-bottom:2%;
	padding:1em;color:#fff';
}


